// Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~lightslider/dist/css/lightslider.min';

body {
    background-color: #f7f7f7;
    overflow-x: hidden;
    font-size: 16px;
}
* {
    font-family: 'Poppins';
}
h1,
h2,
h3,
strong,
b {
    font-weight: bold;
}
.bg-primary {
    background-color: $primary-color !important;
}
.text-primary {
    color: $primary-color !important;
}
#bannerSlider {
    .carousel-control-next, 
    .carousel-control-prev {
        z-index: 9999;
    }
}
.banner-slide {
    height: 100vh;
    background-color: $primary-color;

}
.navbar-nav {
    .nav-item {
        .nav-link {
            color: $white-color;
            font-size: 24px;
        }
    }
}
.nav-right {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;

    li {
        margin-left: 15px;

        a {
            color: $white-color;
            text-decoration: none;
            font-size: 24px;
            transition: all ease 500ms;
        }

        &:hover>a {
            color: $black-color;
        }
    }
}
.round-btn {
    border-radius: 55px;
}
.slider-text {
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;
    color: $white-color;

    h3 {
        font-size: 48px;
        font-weight: bold;
    }

    p {
        font-size: 24px;
        font-weight: 400;
    }
}
.banner-slide {
    overflow: hidden;
}
.girl-image, .boy-image {
    position: absolute;
    bottom: -20px;
    z-index: 1;
    max-height: 70vh;
}

.boy-image {
    right: 0;
}
.girl-image {
    right: 350px;
    z-index: 2;
}

.section-heading {
    h4 {
        font-size: 24px;
    }
    h3 {
        font-size: 36px;
        color: $primary-color;
    }
}

.product-overview-section,
.product-details {
    font-size: 24px;
}

.product-overview-section {
    margin-top: -130px;
    position: relative;
    z-index: 999;

    h4 {
        font-size: 24px;
    }

    h3 {
        font-size: 36px;
        color: $primary-color;
    }

    p {
        color: #a0a0a0;
    }

    ul {
        list-style: none;
    }

    .nav-pills {
        margin-left: -15px;
        margin-right: -15px;
        .nav-item {
            width: 33.33%;
            display: grid;
            padding: 0 15px;

            .nav-link {
                background-color: $white-color;
                padding: 60px 20px;
                border: 5px solid $white-color;
                border-radius: 0;
                font-size: 24px;
                color: $primary-color;

                i[class^=fa] {
                    font-size: 72px;
                }

                &.active {
                    background-color: $primary-color;
                    box-shadow: 0px 5px 10px $black-color;
                    color: $white-color;
                }
            }
        }
    }

}
.video-box {
    position: relative;

    img {
        width: 100%;
    }

    & > .overlay {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba($color: #000000, $alpha: 0.2);
        color: $white-color;
        
        .play-circle {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 113px;
            height: 113px;
            border-radius: 50%;
            border: 2px solid $white-color;
            text-align: center;
            background-color: transparent;
            color: $white-color;

            & > i[class^=fa] {
                line-height: 113px;
                font-size: 72px;
            }
        }
    }
}

.lSSlideOuter .lSPager.lSGallery img {
    border: 2px solid #ccc;
    padding: 10px;
    max-width: 100%;
    max-height: 100px;
    object-fit: contain;
}
.lSSlideOuter .lSPager.lSGallery li.active,
.lSSlideOuter .lSPager.lSGallery li:hover {
    border-radius: 0;
    img {
        border-color: $primary-color;
    }
} 

.image-box {
    position: relative;
    .overlay {
        position: absolute;
        bottom: 10px;
        left: 10px;
        right: 10px;
        background-color: rgba($color: #000000, $alpha: 0.6);
        padding: 5px 15px;
        color: $white-color;
        text-align: center;

        h3 {
            font-size: 24px;
        }

        p {
            display: none;
            font-size: 14px;
        }
    }

    &:hover .overlay {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
            display: block;
        }
    }
}

.testimonial-box {
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 30px;
    position: relative;

    * {

        font-size: 16px;
    }

    img {
        width: 128px;
        height: 128px;
        object-fit: cover;
        margin-right: 15px;
    }

    .carousel-control-prev, 
    .carousel-control-next {
        bottom: 0;
        right: 0;
        width: 40px;
        height: 40px;
        background-color: #a0a0a0;
        color: $white-color;
        border-radius: 3px;
        top: auto;
        left: auto;
    }

    .carousel-control-prev {
        margin-right: 50px;
    }
}

.accordion {
    * {
        font-size: 16px;
    }
    .accordion-button {
        padding: 5px 0;
        background-color: $white-color;
        border: none;
        box-shadow: none;
        color: $black-color;
        font-weight: 600;
    }
    .accordion-body {
        padding: 5px 0;
        background-color: $white-color;
    }
}

footer {
    background-color: $black-color;
    color: $white-color;
    font-size: 14px;

    a,
    a>* {
        text-decoration: none;
        color: #ccc;
        font-size: 16px;
        margin-bottom: 10px;

        &:hover {
            color: $white-color;
        }
    }

    .social-links {
        a {
            margin-right: 10px;
            i {
                font-size: 24px;
            }
        }
    }

    ul {
        list-style: none;
    }
}

@media (min-width: 800px) {
   
}